.Rproj.user
.Rhistory
.RData
.Ruserdata
# Ignore the bookdownproj_files directory outside of docs
/bookdownproj_files/

# Include the bookdownproj_files directory inside docs
!/docs/bookdownproj_files/
